table{
  border-collapse: collapse;
}

td{
  text-align: right;
}

.color-1{
  background-color: white;
  color: white;
}

.color-2{
  background-color: rgb(248, 221, 188);
  font-size: 30px;
  font-weight: bold;
}

.color-3{
  background-color: rgb(226, 228, 227);
  text-align: center;
  font-weight: bold;
}

.color-4{
  background-color: rgb(252, 229, 204);
  font-weight: bold;
  text-align: left;
}

.color-5{
  background-color: rgb(239, 252, 221);
}